.iconContainer {
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.iconContainer img {
    color: rgba(255,100,100, 0.87);
    width: calc(20vw);
    max-width: 200px;
    align-self: center;
}

.iconContainer a {
    font-weight: 700;
    padding: calc(0.5rem);
    color: rgba(255,255,255,0.54);
    text-decoration: none;
}
